.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to left , #2193b0 , #6dd5ed);
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.recipe-item {
  border: 1px solid #ddd;
  padding: 20px;
  width: 200px;
  text-align: center;
}

.recipe-detail {
  padding: 20px;
}

h1{
  font-family:"Roboto";
 padding-top: 30px;
 font-size: 46px;
}